xml/rutas.dtd

<!ELEMENT rutas (ruta+)>
<!ATTLIST rutas
    provincia   CDATA   #REQUIRED
    pais        CDATA   #REQUIRED
    region      CDATA   #REQUIRED
>

<!ELEMENT ruta (nombre, tipo, medioTransporte, fechaInicio?, horaInicio?,
                duracion, agencia, descripcion, personasAdecuadas,
                lugarInicio, direccionInicio, coordenadasInicio,
                referencias, recomendacion, hitos, puntosRuta,
                planimetria, altimetria)>
<!ATTLIST ruta
    id  ID  #REQUIRED
>

<!ELEMENT nombre            (#PCDATA)>
<!ELEMENT tipo              (#PCDATA)>
<!ELEMENT medioTransporte   (#PCDATA)>
<!ELEMENT duracion          (#PCDATA)>
<!ELEMENT agencia           (#PCDATA)>
<!ELEMENT descripcion       (#PCDATA)>
<!ELEMENT personasAdecuadas (#PCDATA)>
<!ELEMENT lugarInicio       (#PCDATA)>
<!ELEMENT direccionInicio   (#PCDATA)>
<!ELEMENT recomendacion     (#PCDATA)>
<!ELEMENT planimetria       (#PCDATA)>
<!ELEMENT altimetria        (#PCDATA)>

<!ELEMENT fechaInicio (#PCDATA)>
<!ATTLIST fechaInicio
    opcional (true|false) "true"
>
<!ELEMENT horaInicio (#PCDATA)>
<!ATTLIST horaInicio
    opcional (true|false) "true"
>

<!ELEMENT coordenadasInicio (longitud, latitud, altitud)>
<!ELEMENT coordenadas       (longitud, latitud, altitud)>
<!ELEMENT longitud  (#PCDATA)>
<!ELEMENT latitud   (#PCDATA)>
<!ELEMENT altitud   (#PCDATA)>

<!ELEMENT referencias (referencia, referencia, referencia, referencia*)>
<!ELEMENT referencia (#PCDATA)>
<!ATTLIST referencia
    id CDATA #REQUIRED
>

<!ELEMENT hitos (hito, hito, hito, hito, hito, hito*)>
<!ELEMENT hito  (nombre, descripcion, coordenadas,
                 distanciaDesdeAnterior, galeriaFotos, galeriaVideos?)>
<!ATTLIST hito
    id  ID  #REQUIRED
>

<!ELEMENT distanciaDesdeAnterior (#PCDATA)>
<!ATTLIST distanciaDesdeAnterior
    unidades (km|m|mi) #REQUIRED
>

<!ELEMENT galeriaFotos (foto, foto?, foto?, foto?, foto?)>
<!ELEMENT foto (#PCDATA)>
<!ATTLIST foto
    alt CDATA #REQUIRED
>

<!ELEMENT galeriaVideos (video, video?, video?)>
<!ELEMENT video (#PCDATA)>
<!ATTLIST video
    alt CDATA #REQUIRED
>

<!ELEMENT puntosRuta (punto+)>
<!ELEMENT punto EMPTY>
<!ATTLIST punto
    longitud    CDATA   #REQUIRED
    latitud     CDATA   #REQUIRED
    altitud     CDATA   #IMPLIED
>